[mysqld]
# 서버 포트 설정
socket = /run/mysqld/mysqld.sock
port = 3306
bind = 0.0.0.0


# 서버가 사용할 최대 연결 수
max_connections = 150

# 사용할 인코딩 설정
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# 기타 성능과 관련된 설정
innodb_buffer_pool_size = 1G
